.Screen {
    display: flex;
	flex-direction: row;
	justify-content: flex-end;
	align-content: flex-end;

    transition: 0.4s;
    transition-timing-function: ease-in-out;


    font-size: 2.5rem;
    color: #3f868d;
    padding: 10px;
    height: 25%;
    border-radius: 15px;
    background-color: #000a08;
}

/* .screen-text {
    font-size: 10vw;
} */